@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

body {
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}

.message {
  min-height: 745px;
}

.message .data {
  max-height: 504.8px;
  min-height: 504.8px;
}

#disp-message {
  max-height: 76.8px;
  min-height: 76.8px;
}

@media (min-width: 992px) {
  .fs-25 {
    font-size: 25px;
  }

  .fs-85 {
    font-size: 85px;
  }

  .fs-35 {
    font-size: 35px;
  }
}

.fw-400 {
  font-weight: 400;
  font-size: 18px;
}

.btn-orange {
  font-size: 16px;
  color: white;
  background-color: #f47522;
  border-color: #f47522;
}

#disp-message {
  font-style: italic;
}

.kotak {
  color: #19345e;
  font-style: normal;
}
